        /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(226, 226, 226);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main__body{
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    font-size: 24px;
    font-family: Roboto;
  }
  .left__block{
    width: 33%;
    
  }
  .user__photo{
    width: 100%;
  }
  .user__photo img{
    width: 100%;
  }
  .user__info{
    padding: 50px;
  }
  .user__info h5{
    font-size: 32px;
    margin-bottom: 0;
  }
  .user__info p{
    font-size: 18px;
  }
  #data__block{
    width: 67%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
  }
hr{
  height: 5px;
  background-color: black;
  margin: 5px;
  border: 0;
}
.data__skills{
    display: flex;
    width: 100%;
  }
  .user__data{
    width: 50%;
  }
  .user__data h4{
    padding-bottom: 20px;
    font-size: 36px;
  }
  .user__skills{
    padding-left: 100px
  }
  .user__skills h4{
    padding-left: 25px;
    font-size: 32px;
  }
  .experience{
    margin-top: 50px;
}
.experience h4{
    font-size: 36px;
}
.workspace{
  width:35%;
  padding-top: 25px
}
.workspace h5 {
  font-size: 28px;    
  margin: 0;
}
.work__attributes{
  width: 65%;
}
.half{
  display: flex;
    flex-direction: row;
    width: 100%
  }
.work__attributes p{
  padding-top: 25px
}
footer{
  margin-left: 250px;
  margin-right: 250px;
  padding: 40px;
  
}
.backg1{
  background-color: rgb(171, 173, 121);
}
.backg2{
    background-color: rgb(177, 153, 153);
}
.border{
margin-left: 250px;
margin-right: 250px;

}
.switch__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding-top: 2px;
  padding-right: 15px;
  padding-left: 15px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
}
.toggle__color1{
  background-color: rgb(189, 189, 189);
}.toggle__color2{
  background-color: rgb(61, 39, 39);
  color: white;
}
#change{
  background-color: pink;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 5px;
}
.save{
  background-color: pink;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 5px;
}
.none{
  display: none;
}
@media (max-width: 1200px) {
  .main__body, footer, .border{
  margin-left: 0px;
  margin-right: 0px;}
}
.borders{
  border-color: black;
  border-style: dotted;
  border-width: 2px;
}